@using userMangment.ViewModels
@model userMangment.ViewModels.AdminDashboardViewModel
@{
    ViewData["Title"] = "Admin Dashboard";
    // هنا تستدعي اللي آوت الخاص بنظام الحماية لديك لضمان الهيدر والفوتر للموقع
    Layout = "~/Views/Shared/_CustomSecurityLayout.cshtml";
}

<div class="container mt-4">
    @if (TempData["ErrorMessage"] != null)
    {

        <div class="alert alert-danger col-6  alert-dismissible fade show" role="alert">
            <p> @TempData["ErrorMessage"]</p>

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success col-6  alert-dismissible fade show" role="alert">
            <p> @TempData["SuccessMessage"]</p>

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }


    <h2>Admin Dashboard</h2>
    <div class="row my-4">
        <div class="col-md-6">
            <div class="card bg-primary text-white p-3">
                <h5>Total Users: @Model.TotalUsersInSystem</h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-success text-white p-3">
                <h5>UpcomingClasses: @Model.UpcomingClassesCount</h5>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">
        <i class="bi bi-person-plus"></i>Add a new user

    </button>

    <div class="table-responsive">

    
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.AllUsers)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.FullName</td>
                        <td>@user.Email</td>
                        <td>

                            <form action="MakeMember" method="post">
                                <input type="hidden" name="userId" value="@user.UserId" />
                                @if (user.IsMember)
                                {

                                    <button type="submit" class="btn btn-sm btn-danger">un subscriber</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-sm btn-success">Set as a subscriber</button>
                                }

                            </form>

                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<partial name="_AddUserPartial" model="new AddUserViewModel()" />

<partial name="_ValidationScriptsPartial" />